<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
    <h1>Project: <%= projectName %></h1>
    <h3>Technologies Used: <%= project.tech %></h3>
    <h3>Live: <%= (project.live) ? 'Yes' : 'No' %></h3>
    <h3><a class="button" href="<%=project.link%>" target="_blank">Play Now</a></h3>
    <br>
    <a class="button" href="/projects">Back</a>
</body>
</html>